.icon-48-events {
      background-image: url(../images/l_events.png);
      padding-left:60px!important;
}

.icon-48-event {
      background-image: url(../images/l_events.png);
      padding-left:60px!important;
}



.other-filters{
    padding: 0 14px;
}