.com_eventbooking form.form-horizontal .control-label,
.com_eventbooking form.form-horizontal .control-label label {
  font-weight: normal;
}
@media (max-width: 767px) {
  .com_eventbooking form.form-horizontal .controls {
    margin-right: 0;
  }
}
.com_eventbooking .form-actions {
  background: none;
  border-radius: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .com_eventbooking .form-actions {
    padding-right: 180px;
  }
}
.com_eventbooking .form-actions .btn {
  margin-bottom: 12px;
}
.com_eventbooking form#adminForm label.control-label {
  font-weight: 400;
  text-align: left;
}
@media (max-width: 992px) {
  .com_eventbooking form#adminForm label.control-label {
    text-align: right;
    margin-bottom: 5px;
  }
}
.com_eventbooking form#adminForm label.control-label small {
  font-weight: 400;
  color: #999999;
}
.com_eventbooking form#adminForm .controls input {
  max-width: 100%;
}
.com_eventbooking form#adminForm .controls select {
  display: inline-block;
}
.com_eventbooking form#adminForm h3.eb-heading {
  font-size: 18px;
  font-weight: 700;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 12px !important;
  margin-bottom: 24px !important;
}
.com_eventbooking form#adminForm .payment_information .controls select.input-small {
  width: auto;
}
.com_eventbooking textarea {
  min-height: 100px;
}
.com_eventbooking .input-prepend .add-on {
  padding: 5px;
}
.com_eventbooking .input-prepend input,
.com_eventbooking .input-prepend select {
  display: inline-block;
}
.com_eventbooking label.checkbox input.radio {
  display: inline-block;
  min-height: 20px;
  vertical-align: top;
  margin-left: 5px;
}
#eb-category-page-timeline #eb-category {
  padding: 0 0 24px;
  margin-bottom: 24px;
  border-bottom: 1px solid #e0e0e0;
}
#eb-category-page-timeline .pagination {
  float: none;
}
#eb-category-page-timeline div.pagination {
  border-top: 1px solid #e0e0e0;
  margin: 0;
  padding: 12px 0;
  border-radius: 0;
}
#eb-category-page-timeline h2.eb-heading {
  margin: 0 0 24px !important;
  font-weight: 600;
}
#eb-category-page-timeline #eb-categories .owl-carousel {
  padding: 0;
  margin-bottom: 0;
}
#eb-category-page-timeline #eb-categories .owl-carousel .eb-category {
  border: 1px solid #e0e0e0;
}
#eb-category-page-timeline #eb-categories .owl-carousel .owl-item {
  padding-bottom: 48px;
}
#eb-category-page-timeline #eb-categories .owl-carousel .owl-controls {
  top: -50px;
  margin: 0;
}
#eb-category-page-timeline #eb-categories .owl-carousel .owl-controls .owl-buttons div {
  border-color: #555555;
  color: #555555;
}
#eb-category-page-timeline #eb-categories + .eb-events-timeline {
  border-top: 1px solid #e0e0e0;
  padding-top: 24px;
}
#eb-category {
  padding: 0;
}
#eb-category .eb-description img {
  margin-bottom: 24px;
}
.eb-events-timeline .eb-event-container {
  padding: 24px 100px 0 0;
}
.eb-events-timeline .eb-event-container .eb-event-date-container {
  float: right;
  margin: 0 -100px 0 15px;
}
@media (max-width: 767px) {
  .eb-events-timeline .eb-event-container {
    background: none;
    padding-right: 0;
  }
  .eb-events-timeline .eb-event-container .eb-event-date-container {
    margin: 12px 0 0 0;
    float: none;
    border-radius: 0;
    border: none;
    padding: 0;
  }
  .eb-events-timeline .eb-event-container .eb-event-date-container .eb-event-date {
    width: auto;
    height: auto;
    padding: 10px;
    border-radius: 0;
    text-align: right;
  }
  .eb-events-timeline .eb-event-container .eb-event-date-container .eb-event-date > div {
    display: inline-block;
  }
}
.eb-events-timeline .eb-event-container:first-child {
  padding-top: 0;
}
.eb-events-timeline .eb-event-container .eb-even-title-container {
  margin: 0 0 12px;
  font-size: 30px;
  font-weight: 600;
  text-align: right;
}
@media (max-width: 767px) {
  .eb-events-timeline .eb-event-container .eb-even-title-container {
    margin: 0 0 12px !important;
  }
}
.eb-events-timeline .eb-event-container .eb-even-title-container > a {
  color: #333333;
}
.eb-events-timeline .eb-event-container .eb-even-title-container > a:hover {
  color: #1e9846;
  text-decoration: none;
}
@media (max-width: 767px) {
  .eb-events-timeline .eb-event-container .eb-event-information {
    clear: both;
  }
}
.eb-events-timeline .eb-event-container .eb-event-information i {
  color: #a6a6a6;
}
.eb-events-timeline .eb-event-container .eb-taskbar {
  border-bottom: 1px solid #e0e0e0;
}
.eb-events-timeline .eb-event-container:last-child .eb-taskbar {
  border-bottom: none;
}
#eb-category-page-timeline,
#eb-event-page,
#eb-individual-registration-page,
#eb-group-registration-form,
#eb-calendar-page,
#eb-search-result-page,
#eb-invite-friend-page,
#eb-mini-cart-page,
#eb-cart-registration-page,
#eb-group-registration-form,
#eb-category-page-default,
.eb-calendar-page,
.eb-location-page,
.submit-events-page,
.submit-location-page,
.my-locations-page,
.my-events-page {
  background: #ffffff;
  padding: 24px;
}
#eb-category-page-timeline h1.eb-page-heading,
#eb-event-page h1.eb-page-heading,
#eb-individual-registration-page h1.eb-page-heading,
#eb-group-registration-form h1.eb-page-heading,
#eb-calendar-page h1.eb-page-heading,
#eb-search-result-page h1.eb-page-heading,
#eb-invite-friend-page h1.eb-page-heading,
#eb-mini-cart-page h1.eb-page-heading,
#eb-cart-registration-page h1.eb-page-heading,
#eb-group-registration-form h1.eb-page-heading,
#eb-category-page-default h1.eb-page-heading,
.eb-calendar-page h1.eb-page-heading,
.eb-location-page h1.eb-page-heading,
.submit-events-page h1.eb-page-heading,
.submit-location-page h1.eb-page-heading,
.my-locations-page h1.eb-page-heading,
.my-events-page h1.eb-page-heading,
#eb-category-page-timeline h1.eb-page-title,
#eb-event-page h1.eb-page-title,
#eb-individual-registration-page h1.eb-page-title,
#eb-group-registration-form h1.eb-page-title,
#eb-calendar-page h1.eb-page-title,
#eb-search-result-page h1.eb-page-title,
#eb-invite-friend-page h1.eb-page-title,
#eb-mini-cart-page h1.eb-page-title,
#eb-cart-registration-page h1.eb-page-title,
#eb-group-registration-form h1.eb-page-title,
#eb-category-page-default h1.eb-page-title,
.eb-calendar-page h1.eb-page-title,
.eb-location-page h1.eb-page-title,
.submit-events-page h1.eb-page-title,
.submit-location-page h1.eb-page-title,
.my-locations-page h1.eb-page-title,
.my-events-page h1.eb-page-title {
  font-weight: 700;
  font-size: 30px;
  margin: 0 0 24px !important;
}
#eb-category-page-timeline h1.eb-page-heading > a,
#eb-event-page h1.eb-page-heading > a,
#eb-individual-registration-page h1.eb-page-heading > a,
#eb-group-registration-form h1.eb-page-heading > a,
#eb-calendar-page h1.eb-page-heading > a,
#eb-search-result-page h1.eb-page-heading > a,
#eb-invite-friend-page h1.eb-page-heading > a,
#eb-mini-cart-page h1.eb-page-heading > a,
#eb-cart-registration-page h1.eb-page-heading > a,
#eb-group-registration-form h1.eb-page-heading > a,
#eb-category-page-default h1.eb-page-heading > a,
.eb-calendar-page h1.eb-page-heading > a,
.eb-location-page h1.eb-page-heading > a,
.submit-events-page h1.eb-page-heading > a,
.submit-location-page h1.eb-page-heading > a,
.my-locations-page h1.eb-page-heading > a,
.my-events-page h1.eb-page-heading > a,
#eb-category-page-timeline h1.eb-page-title > a,
#eb-event-page h1.eb-page-title > a,
#eb-individual-registration-page h1.eb-page-title > a,
#eb-group-registration-form h1.eb-page-title > a,
#eb-calendar-page h1.eb-page-title > a,
#eb-search-result-page h1.eb-page-title > a,
#eb-invite-friend-page h1.eb-page-title > a,
#eb-mini-cart-page h1.eb-page-title > a,
#eb-cart-registration-page h1.eb-page-title > a,
#eb-group-registration-form h1.eb-page-title > a,
#eb-category-page-default h1.eb-page-title > a,
.eb-calendar-page h1.eb-page-title > a,
.eb-location-page h1.eb-page-title > a,
.submit-events-page h1.eb-page-title > a,
.submit-location-page h1.eb-page-title > a,
.my-locations-page h1.eb-page-title > a,
.my-events-page h1.eb-page-title > a {
  font-weight: 400;
  display: inline-block;
  color: #999999;
}
#eb-category-page-timeline h1.eb-page-heading > a:hover,
#eb-event-page h1.eb-page-heading > a:hover,
#eb-individual-registration-page h1.eb-page-heading > a:hover,
#eb-group-registration-form h1.eb-page-heading > a:hover,
#eb-calendar-page h1.eb-page-heading > a:hover,
#eb-search-result-page h1.eb-page-heading > a:hover,
#eb-invite-friend-page h1.eb-page-heading > a:hover,
#eb-mini-cart-page h1.eb-page-heading > a:hover,
#eb-cart-registration-page h1.eb-page-heading > a:hover,
#eb-group-registration-form h1.eb-page-heading > a:hover,
#eb-category-page-default h1.eb-page-heading > a:hover,
.eb-calendar-page h1.eb-page-heading > a:hover,
.eb-location-page h1.eb-page-heading > a:hover,
.submit-events-page h1.eb-page-heading > a:hover,
.submit-location-page h1.eb-page-heading > a:hover,
.my-locations-page h1.eb-page-heading > a:hover,
.my-events-page h1.eb-page-heading > a:hover,
#eb-category-page-timeline h1.eb-page-title > a:hover,
#eb-event-page h1.eb-page-title > a:hover,
#eb-individual-registration-page h1.eb-page-title > a:hover,
#eb-group-registration-form h1.eb-page-title > a:hover,
#eb-calendar-page h1.eb-page-title > a:hover,
#eb-search-result-page h1.eb-page-title > a:hover,
#eb-invite-friend-page h1.eb-page-title > a:hover,
#eb-mini-cart-page h1.eb-page-title > a:hover,
#eb-cart-registration-page h1.eb-page-title > a:hover,
#eb-group-registration-form h1.eb-page-title > a:hover,
#eb-category-page-default h1.eb-page-title > a:hover,
.eb-calendar-page h1.eb-page-title > a:hover,
.eb-location-page h1.eb-page-title > a:hover,
.submit-events-page h1.eb-page-title > a:hover,
.submit-location-page h1.eb-page-title > a:hover,
.my-locations-page h1.eb-page-title > a:hover,
.my-events-page h1.eb-page-title > a:hover {
  color: #1e9846;
  text-decoration: none;
}
#eb-event-page > .eb-box-heading,
#eb-event-page > .eb-description {
  background: none;
  border: none;
  border-radius: 0;
  padding: 0;
}
#eb-event-page .eb-description .sharing {
  margin-bottom: 12px;
}
#eb-event-page .eb-description #eb-event-properties-heading {
  margin: 24px 0 !important;
  font-weight: 600;
}
#eb-event-page .eb-description .eb-notice-message {
  font-size: 14px;
  padding: 24px;
  border: 1px solid #e0e0e0;
}
#eb-event-page .eb-description .eb-taskbar {
  padding-top: 12px;
}
#eb-event-page .eb-description #itp-social-buttons-box {
  margin: 12px 0 0;
}
#eb-event-page .eb-description #itp-social-buttons-box #eb-share-text {
  font-size: 14px;
  padding: 30px 0 0 20px;
  float: right;
}
#eb-event-page .eb-description #itp-social-buttons-box a:hover {
  text-decoration: none;
}
#eb-event-page .table-failure td {
  padding: 10px 0;
}
.view-categories #eb-categories-page .eb-page-heading {
  font-size: 70px;
  font-weight: 700;
  margin: 0 0 24px;
  color: #333333;
}
@media (max-width: 767px) {
  .view-categories #eb-categories-page .eb-page-heading {
    font-size: 50px;
  }
}
.view-categories #eb-categories-page .owl-carousel .owl-controls .owl-buttons div {
  border: 2px solid #333333;
  color: #333333;
}
.view-categories #eb-categories .eb-category:hover {
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.view-categories #eb-categories .owl-carousel {
  margin-bottom: 0;
}
#eb-calendar-page .eb-topmenu-calendar ul li,
.eb-calendar-page .eb-topmenu-calendar ul li {
  margin-right: 6px;
}
@media (max-width: 767px) {
  #eb-calendar-page .eb-topmenu-calendar ul li,
  .eb-calendar-page .eb-topmenu-calendar ul li {
    margin-bottom: 6px;
  }
}
#eb-calendar-page .eb-topmenu-calendar ul li a,
.eb-calendar-page .eb-topmenu-calendar ul li a {
  background: #ededed;
  color: #555555;
}
#eb-calendar-page .eb-topmenu-calendar ul li a.active,
.eb-calendar-page .eb-topmenu-calendar ul li a.active,
#eb-calendar-page .eb-topmenu-calendar ul li a:hover,
.eb-calendar-page .eb-topmenu-calendar ul li a:hover {
  background: #333333;
}
#eb-calendar-page .eb-calendar,
.eb-calendar-page .eb-calendar {
  border-left: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}
#eb-calendar-page .eb-calendar ul,
.eb-calendar-page .eb-calendar ul {
  border-color: #dddddd;
}
#eb-calendar-page .eb-calendar ul li,
.eb-calendar-page .eb-calendar ul li {
  padding: 10px !important;
}
#eb-calendar-page .eb-calendar .regpro-calendarMonthHeader,
.eb-calendar-page .eb-calendar .regpro-calendarMonthHeader {
  background: #d7d9db;
}
#eb-calendar-page .eb-calendar ul.eb-weekdays,
.eb-calendar-page .eb-calendar ul.eb-weekdays {
  background: #ededed;
  height: 44px;
}
#eb-calendar-page .eb-calendar ul.eb-weekdays li,
.eb-calendar-page .eb-calendar ul.eb-weekdays li {
  background: #ededed;
  border-color: #dddddd;
  color: #333333;
  padding: 12px 6px !important;
}
#eb-calendar-page .eb-calendar .eb-days li,
.eb-calendar-page .eb-calendar .eb-days li {
  background: none;
  border-color: #dddddd;
  color: #333333;
  font-size: 14px;
  font-weight: 400;
}
#eb-calendar-page .eb-calendar .eb-days li:hover,
.eb-calendar-page .eb-calendar .eb-days li:hover {
  background: #f7f7f7;
}
#eb-calendar-page .eb-calendar .eb-days li:hover .eb_event_link,
.eb-calendar-page .eb-calendar .eb-days li:hover .eb_event_link {
  background: #eaeaea;
}
#eb-calendar-page .eb-calendar .eb-days li .eb_event_link,
.eb-calendar-page .eb-calendar .eb-days li .eb_event_link {
  background: #f7f7f7;
  border: 1px dashed #cccccc;
  color: #333333;
  margin-bottom: 2px;
}
#eb-calendar-page .eb-calendar .eb-days li .eb_event_link:hover,
.eb-calendar-page .eb-calendar .eb-days li .eb_event_link:hover {
  color: #1e9846;
  text-decoration: none;
}
#eb-calendar-page .eb-calendar .eb-month-browser li,
.eb-calendar-page .eb-calendar .eb-month-browser li {
  padding: 12px !important;
}
#eb-calendar-page .eb-calendar .eb-month-browser li select#month,
.eb-calendar-page .eb-calendar .eb-month-browser li select#month,
#eb-calendar-page .eb-calendar .eb-month-browser li select#year,
.eb-calendar-page .eb-calendar .eb-month-browser li select#year {
  margin: 0 6px !important;
  width: 90px;
}
#eb-calendar-page .eb-calendar .eb-month-browser li.eb-calendar-nav,
.eb-calendar-page .eb-calendar .eb-month-browser li.eb-calendar-nav {
  font-size: 36px;
  line-height: normal;
}
#eb-calendar-page .eb-calendar .eb-month-browser li a,
.eb-calendar-page .eb-calendar .eb-month-browser li a {
  color: #333333;
}
#eb-calendar-page #extcalendar .today,
.eb-calendar-page #extcalendar .today {
  padding: 12px 0;
  font-size: 16px;
  font-weight: 400;
  color: #333333;
}
#eb-calendar-page #extcalendar .tablea,
.eb-calendar-page #extcalendar .tablea {
  border: 1px dashed #e0e0e0;
}
#eb-calendar-page #extcalendar .tablea a,
.eb-calendar-page #extcalendar .tablea a {
  color: #999999;
}
#eb-calendar-page #extcalendar .tablea a:hover,
.eb-calendar-page #extcalendar .tablea a:hover,
#eb-calendar-page #extcalendar .tablea a:focus,
.eb-calendar-page #extcalendar .tablea a:focus {
  color: #1e9846;
  text-decoration: none;
}
#eb-calendar-page #extcalendar .tableb,
.eb-calendar-page #extcalendar .tableb {
  width: 85%;
  background: none;
  border: 1px dashed #e0e0e0;
  padding: 24px;
}
#eb-calendar-page #extcalendar .tableb.table-none,
.eb-calendar-page #extcalendar .tableb.table-none {
  padding: 12px 0;
  border: none;
}
#eb-calendar-page #extcalendar .tableb a:hover,
.eb-calendar-page #extcalendar .tableb a:hover {
  text-decoration: none;
}
#eb-calendar-page #extcalendar .tableb h4,
.eb-calendar-page #extcalendar .tableb h4 {
  margin-top: 0;
}
#eb-calendar-page #extcalendar .tableb h4 a,
.eb-calendar-page #extcalendar .tableb h4 a {
  color: #333333;
}
#eb-calendar-page #extcalendar .tableb h4 a:hover,
.eb-calendar-page #extcalendar .tableb h4 a:hover,
#eb-calendar-page #extcalendar .tableb h4 a:focus,
.eb-calendar-page #extcalendar .tableb h4 a:focus {
  color: #1e9846;
}
#eb-calendar-page #extcalendar .tablec,
.eb-calendar-page #extcalendar .tablec {
  background: #d7d9db;
}
#eb-calendar-page #extcalendar .tablec td,
.eb-calendar-page #extcalendar .tablec td {
  padding: 12px;
  background: #d7d9db;
  border: 1px solid #d7d9db;
}
#eb-calendar-page #extcalendar .tablec td.currentweek,
.eb-calendar-page #extcalendar .tablec td.currentweek,
#eb-calendar-page #extcalendar .tablec td.currentweektoday,
.eb-calendar-page #extcalendar .tablec td.currentweektoday {
  font-size: 18px;
  color: #333333;
  font-weight: 700;
}
#eb-calendar-page #extcalendar .tablec td a,
.eb-calendar-page #extcalendar .tablec td a {
  font-size: 36px;
  color: #333333;
}
#eb-calendar-page #extcalendar .tableh2,
.eb-calendar-page #extcalendar .tableh2 {
  background: #ededed;
  color: #555555;
  border: 1px solid #d7d9db;
}
#eb-calendar-page #extcalendar .eventdesc,
.eb-calendar-page #extcalendar .eventdesc {
  color: #555555;
}
#eb-individual-registration-page .eb-message,
#eb-group-registration-form .eb-message {
  margin-bottom: 48px;
}
#eb-individual-registration-page #tr_exp_date select,
#eb-group-registration-form #tr_exp_date select {
  display: inline-block;
}
#eb-individual-registration-page h3.eb-heading,
#eb-group-registration-form h3.eb-heading {
  font-size: 18px;
  font-weight: 700;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 12px !important;
  margin-bottom: 24px !important;
}
.submit-events-page .eb_form_header {
  margin-bottom: 24px;
}
@media (min-width: 992px) {
  .submit-events-page .action-button {
    text-align: left;
  }
}
.submit-events-page .tab-content {
  padding: 24px 0;
}
.submit-events-page td,
.submit-events-page tr td,
.submit-events-page th {
  border: none;
  padding: 6px 12px;
}
.submit-events-page td.key,
.submit-events-page tr td.key,
.submit-events-page th.key {
  padding-top: 12px;
}
.submit-events-page input,
.submit-events-page select {
  display: inline-block;
  vertical-align: top;
}
@media (min-width: 992px) {
  .submit-events-page .input-append,
  .submit-events-page .input-prepend {
    margin-bottom: 0;
  }
}
.submit-events-page .input-append input,
.submit-events-page .input-prepend input {
  width: auto;
}
@media (max-width: 767px) {
  .submit-events-page .input-append input,
  .submit-events-page .input-prepend input {
    width: 78%;
  }
}
.submit-events-page .input-append button.btn,
.submit-events-page .input-prepend button.btn {
  border-color: #e0e0e0;
}
.submit-events-page .input-append + select.input-mini,
.submit-events-page .input-prepend + select.input-mini {
  width: auto;
}
.submit-events-page .input-append + select.input-mini + select.input-mini,
.submit-events-page .input-prepend + select.input-mini + select.input-mini {
  width: auto;
}
.submit-events-page label.radio {
  padding-right: 20px;
}
.submit-events-page label.radio input {
  height: auto;
  width: auto;
}
.submit-events-page input.inputthumb {
  padding: 0;
  border: none;
}
@media (min-width: 992px) {
  .submit-events-page #adminForm .input-xlarge {
    width: 270px;
  }
}
@media (max-width: 991px) {
  .submit-events-page #adminForm .admintable td {
    display: block;
  }
  .submit-events-page #adminForm .admintable input.input-xlarge {
    width: 100%;
  }
}
.submit-events-page .additional-cate {
  float: right;
}
.submit-events-page .additional-cate-sub {
  float: right;
  padding-top: 24px;
  padding-right: 12px;
  color: #999999;
}
.submit-events-page .nav-tabs > li > a {
  padding: 5px 10px;
}
@media (max-width: 991px) {
  .submit-events-page .nav-tabs li {
    width: 100%;
    text-transform: uppercase;
    font-weight: 500;
  }
  .submit-events-page .nav-tabs li a {
    border: 1px solid #e0e0e0;
    border-radius: 0;
    margin-left: 0;
  }
}
@media (min-width: 992px) {
  .submit-events-page #discount-page .key {
    width: 140px;
  }
}
@media (max-width: 767px) {
  .submit-events-page #discount-page .input-mini {
    width: auto;
  }
}
.submit-location-page form#adminForm label.control-label {
  font-weight: 400;
}
.submit-location-page input,
.submit-location-page select {
  display: inline-block;
  vertical-align: top;
}
.submit-location-page label.radio {
  padding-right: 20px;
  display: inline-block;
}
.submit-location-page label.radio input {
  height: auto;
}
.my-events-page td,
.my-events-page tr td {
  border: none;
}
.my-events-page .table-filter {
  margin-bottom: 24px;
}
.my-events-page .table th {
  background-color: #f7f7f7;
}
.my-events-page .table td:nth-child(1) {
  width: 40%;
}
.my-events-page .table td:nth-child(2) {
  width: 25%;
}
.my-events-page .table td:nth-child(3) {
  width: 10%;
}
.my-events-page .table td:nth-child(4) {
  width: 10%;
}
.my-events-page .table td:nth-child(5) {
  width: 10%;
}
.my-events-page .table td:nth-child(6) {
  width: 5%;
}
.my-events-page .table td a {
  color: #333333;
  display: inline-block;
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.4;
}
.my-events-page .table td a:hover,
.my-events-page .table td a:focus,
.my-events-page .table td a:active {
  color: #1e9846;
}
.my-events-page #filter_search {
  display: inline-block;
}
.my-events-page a:hover {
  text-decoration: none;
}
.my-events-page td .action-link {
  display: block;
}
.my-events-page td .action-link a {
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  padding: 2px 10px;
  font-size: 13px;
  font-weight: normal;
  color: #777777;
  margin-left: 4px;
}
.my-events-page td .action-link a i {
  color: #999999;
  margin-left: 3px;
}
.my-events-page td .action-link a:hover,
.my-events-page td .action-link a:focus,
.my-events-page td .action-link a:active {
  background-color: #2cd664;
  border-color: #2cd664;
  color: #ffffff;
  text-decoration: none;
}
.my-events-page td .action-link a:hover i,
.my-events-page td .action-link a:focus i,
.my-events-page td .action-link a:active i {
  color: #ffffff;
}
.my-locations-page .add_location_link {
  text-transform: none;
  margin-top: 10px;
  font-size: 14px;
  display: block;
}
@media (min-width: 768px) {
  .my-locations-page .add_location_link {
    float: left;
    display: inline-block;
  }
}
.my-locations-page .add_location_link > a:hover {
  text-decoration: none;
}
#eb-search-result-page .eb-event,
.eb-location-page .eb-event {
  padding: 36px 0;
  border-top: 1px solid #e0e0e0;
  margin: 0;
}
#eb-search-result-page .pagination,
.eb-location-page .pagination {
  float: none;
}
#eb-search-result-page div.pagination,
.eb-location-page div.pagination {
  border-top: 1px solid #e0e0e0;
  margin: 0;
  padding: 12px 0;
  border-radius: 0;
}
#eb-category-page-default #eb-category {
  padding: 0 0 24px;
  margin-bottom: 24px;
  border-bottom: 1px solid #e0e0e0;
}
#eb-category-page-default .eb-event {
  padding: 0 0 24px;
  margin-bottom: 24px;
  border-bottom: 1px solid #e0e0e0;
}
.eb-container {
  text-align: right;
}
.eb-container img {
  max-width: 100%;
}
.eb-event-date {
  width: 70px;
  height: 70px;
}
.eb-event-date .eb-event-date-month {
  font-size: 11px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.eb-event-date .eb-event-date-year {
  font-size: 11px;
  letter-spacing: 1px;
}
.eb-event-information {
  color: #555555;
  padding: 0;
  text-align: right;
}
.eb-event-information i[class^="icon"] {
  font-size: 14px;
  width: 16px;
}
.eb-event-information a:hover {
  text-decoration: none;
}
.eb-event-information .eb-event-price-container {
  background-color: #f7f7f7;
  border: 1px dashed #e0e0e0;
  float: left;
}
.eb-event-information .eb-event-price-container .eb-individual-price {
  color: #555555;
  font-weight: 500;
  padding: 3px 12px;
}
@media (max-width: 767px) {
  .eb-event-information .eb-event-price-container {
    float: none;
    margin-top: 12px;
  }
  .eb-event-information .eb-event-price-container .eb-individual-price {
    padding: 5px 10px;
  }
}
.eb-event-date-info {
  font-size: 14px;
}
img.eb-thumb-left {
  margin: 6px 0 12px 24px !important;
  float: right !important;
}
@media (max-width: 767px) {
  img.eb-thumb-left {
    float: none !important;
    margin: 0 0 24px !important;
  }
}
.eb-taskbar li {
  float: right !important;
}
#eb-events .eb-box-heading,
#eb-events .eb-description {
  background: none;
  border: none;
  border-radius: 0;
  padding: 0;
}
#eb-events .eb-event-title {
  font-size: 18px;
  font-weight: 600;
  margin: 0 0 24px !important;
}
@media (min-width: 768px) {
  #eb-events .eb-event-title {
    font-size: 24px;
  }
}
#eb-events .eb-event-title a:hover,
#eb-events .eb-event-title a:focus {
  color: #1e9846;
  text-decoration: none;
}
@media (max-width: 767px) {
  #eb-events .eb-description-details {
    margin-bottom: 24px;
  }
}
#eb-events .eb-notice-message {
  font-size: 14px;
  padding: 24px;
  border: 1px solid #e0e0e0;
  margin: 0;
}
#eb-events .eb-taskbar {
  padding-top: 24px;
}
#editor-xtd-buttons .btn {
  text-transform: none;
  color: #333333;
  font-size: 13px;
  padding: 5px 15px;
  margin-bottom: 5px;
}
#editor-xtd-buttons .btn:hover {
  color: #1e9846;
}
.eb_event_list .eb_event_inner {
  background: #ffffff;
  padding: 24px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e0e0e0;
  position: relative;
  transition-delay: 0s;
  transition-duration: 0.15s;
  transition-property: transform, box-shadow;
  transition-timing-function: ease-in-out;
  -webkit-transition-delay: 0s;
  -webkit-transition-duration: 0.15s;
  -webkit-transition-property: transform, box-shadow;
  -webkit-transition-timing-function: ease-in-out;
}
.eb_event_list .eb_event_inner:hover {
  -webkit-box-shadow: 0 22px 43px rgba(0, 0, 0, 0.15);
  box-shadow: 0 22px 43px rgba(0, 0, 0, 0.15);
  transform: translateY(-4px);
  -webkit-transform: translateY(-4px);
}
.eb_event_list .eb_event_inner .eb_event_img {
  margin: -24px -24px 24px;
}
.eb_event_list .eb_event_inner .eb_event_img > img {
  width: 100%;
}
.eb_event_list .eb_event_inner h4 a {
  color: #333333;
}
.eb_event_list .eb_event_inner h4 a:hover,
.eb_event_list .eb_event_inner h4 a:focus {
  color: #1e9846;
  text-decoration: none;
}
.eb_event_list .eb_event_inner p {
  padding-right: 20px;
  margin: 0 0 5px;
  color: #777777;
}
.eb_event_list .eb_event_inner p > i {
  float: right;
  margin-right: -20px;
  margin-top: 4px;
}
.eb_event_list .eb_event_inner p a {
  color: #333333;
}
.eb_event_list .eb_event_inner p a:hover,
.eb_event_list .eb_event_inner p a:focus {
  color: #1e9846;
  text-decoration: none;
}
.eb_event_list .eb_event_inner p a > strong {
  font-weight: 400;
}
.eb_event_list .eb_event_inner .event_date {
  font-style: normal;
}
#eb-categories-page .eb-page-heading {
  font-size: 70px;
  font-weight: 700;
  margin: 0 0 24px;
  color: #ffffff;
}
@media (max-width: 767px) {
  #eb-categories-page .eb-page-heading {
    font-size: 50px;
  }
}
#eb-categories {
  margin-right: -20px;
  margin-left: -20px;
}
#eb-categories .eb-category {
  margin: 0 !important;
  border-bottom: 1px solid #e0e0e0;
  transition-delay: 0s;
  transition-duration: 0.15s;
  transition-property: transform, box-shadow;
  transition-timing-function: ease-in-out;
  -webkit-transition-delay: 0s;
  -webkit-transition-duration: 0.15s;
  -webkit-transition-property: transform, box-shadow;
  -webkit-transition-timing-function: ease-in-out;
}
#eb-categories .eb-category:hover {
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  transform: translateY(-4px);
  -webkit-transform: translateY(-4px);
}
#eb-categories .eb-category:hover .eb-box-heading > .eb-category-title a {
  color: #2cd664;
}
#eb-categories .eb-category .eb-box-heading {
  border-radius: 0;
  border: none;
  background: #ffffff;
  padding: 12px 24px;
}
#eb-categories .eb-category .eb-box-heading > .eb-category-title {
  font-size: 18px;
  margin: 0;
  font-weight: 600;
}
#eb-categories .eb-category .eb-box-heading > .eb-category-title a {
  color: #333333;
}
#eb-categories .eb-category .eb-box-heading > .eb-category-title a:hover,
#eb-categories .eb-category .eb-box-heading > .eb-category-title a:focus {
  text-decoration: none;
  color: #1e9846;
}
#eb-categories .eb-category .eb-description {
  padding: 0 0 24px;
  border-radius: 0;
  border: none;
  color: #333333;
}
#eb-categories .eb-category .eb-description img {
  margin: 0 0 20px !important;
  max-width: 100%;
}
#eb-categories .eb-category .eb-description > p {
  max-height: 72px;
  overflow: hidden;
  padding: 0 24px;
}
#eb-categories .owl-carousel {
  margin-bottom: -168px;
  padding: 72px 0 0;
}
#eb-categories .owl-carousel .owl-item {
  padding: 12px 24px 72px;
}
#eb-categories .owl-carousel .owl-controls {
  position: absolute;
  left: 20px;
  top: 0;
}
#eb-categories .owl-carousel .owl-controls .owl-buttons div {
  background: none;
  border: 2px solid #ffffff;
  font-size: 14px;
  text-align: center;
  padding: 0;
  width: 36px;
  height: 36px;
  line-height: 32px;
  text-indent: -999em;
  overflow: hidden;
  position: relative;
}
#eb-categories .owl-carousel .owl-controls .owl-buttons div:after {
  content: "\f104";
  display: inline-block;
  font-family: FontAwesome;
  position: absolute;
  right: center;
  line-height: 32px;
  margin-right: -3px;
  right: 50%;
  text-indent: 0;
}
#eb-categories .owl-carousel .owl-controls .owl-buttons div.owl-next:after {
  content: "\f105";
  margin-right: -2px;
}
.gm-style-iw .row-fluid {
  margin: 0;
}
.gm-style-iw ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.gm-style-iw ul li {
  padding-right: 20px;
  position: relative;
  margin: 12px 0;
}
.gm-style-iw ul li:before {
  content: "\f0a4";
  font-family: "FontAwesome";
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
}
.gm-style-iw ul li h4 {
  font-size: 13px;
  margin: 0;
  line-height: 24px;
}
.gm-style-iw ul li h4 a {
  color: #333333;
}
.gm-style-iw ul li h4 a:hover {
  color: #1e9846;
  text-decoration: none;
}
#eb_search_form .search_table td {
  padding: 5px 0;
}
#eb_search_form .search_table td .inputbox {
  width: 100%;
}
.com_eventbooking .menu {
  margin: 0;
  list-style: none;
}
.com_eventbooking .menu li {
  margin-bottom: 12px;
  border-right: 2px solid #2cd664;
  padding-right: 16px;
}
.com_eventbooking .menu li > a {
  color: #333333;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  display: inline-block;
}
.com_eventbooking .menu li > a span {
  text-transform: none;
  color: #999999;
}
.com_eventbooking .menu li > a:hover,
.com_eventbooking .menu li > a:focus {
  color: #1e9846;
  text-decoration: none;
  padding-right: 6px;
}
.com_eventbooking .menu.location_list li {
  border: 0;
  padding-right: 0;
}
.com_eventbooking .menu.location_list li a:before {
  display: inline-block;
  content: "\f041";
  color: #999999;
  font-size: 14px;
  font-family: FontAwesome;
  margin-left: 8px;
}
.com_eventbooking .menu.location_list li a:hover,
.com_eventbooking .menu.location_list li a:focus,
.com_eventbooking .menu.location_list li a:active {
  padding-right: 0;
  color: #1e9846;
}
.com_eventbooking .menu.location_list li a:hover:before,
.com_eventbooking .menu.location_list li a:focus:before,
.com_eventbooking .menu.location_list li a:active:before {
  color: #1e9846;
}
.extcal_minical {
  font-family: "Roboto", sans-serif;
}
.extcal_minical table.extcal_minical {
  background-color: #ffffff;
}
.extcal_minical table.extcal_navbar {
  border-bottom: 0;
}
.extcal_minical table.extcal_navbar td {
  background-color: #ededed;
  padding-right: 0;
  padding-left: 0;
  min-width: 18px;
  text-align: center;
  vertical-align: middle;
}
.extcal_minical table.extcal_navbar td.extcal_month_label {
  color: #333333;
  font-size: 11px;
  text-align: center;
  text-transform: uppercase;
}
.extcal_minical table.extcal_navbar td a.mod_eb_minicalendar_link {
  color: #333333;
}
.extcal_minical table.mod_eb_mincalendar_table {
  font-family: "Roboto", sans-serif;
}
.extcal_minical table.mod_eb_mincalendar_table td {
  border: 1px solid #e0e0e0;
  font-size: 11px;
  padding: 3px 5px;
  text-align: center;
  vertical-align: middle;
}
.extcal_minical table.mod_eb_mincalendar_table td.mod_eb_mincalendar_td_dayname {
  color: #333333;
}
.extcal_minical table.mod_eb_mincalendar_table td.mod_eb_mincalendar_event {
  background-color: #f7f7f7;
}
.extcal_minical table.mod_eb_mincalendar_table td.mod_eb_mincalendar_event a {
  color: #333333;
}
.extcal_minical table.mod_eb_mincalendar_table td.mod_eb_mincalendar_no_event span {
  color: #999999;
}
.extcal_minical table.mod_eb_mincalendar_table td.mod_eb_mincalendar_today {
  background-color: #e0e0e0;
}
.extcal_minical table.mod_eb_mincalendar_table td span {
  font-weight: 500;
  line-height: 1;
}
.extcal_minical table.mod_eb_mincalendar_table td span.sunday,
.extcal_minical table.mod_eb_mincalendar_table td span.saturday {
  color: #2cd664;
}