.acm-features .features-item {
  display: table;
}
.acm-features .features-item:before,
.acm-features .features-item:after {
  content: " ";
  display: table;
}
.acm-features .features-item:after {
  clear: both;
}
.acm-features .features-item > div {
  display: table-cell;
  float: none !important;
  vertical-align: middle;
}
.acm-features .features-img img {
  max-width: 100%;
}
.acm-features .features-content {
  background: #ffffff;
  padding: 24px;
}
.acm-features .features-content h3 {
  margin-top: 0;
}
.acm-features.content-left .features-content {
  text-align: left;
}
.acm-features.content-right .features-img {
  text-align: left;
}
.acm-features.content-top {
  display: block;
}
.acm-features.content-top > div {
  display: block;
}
.acm-features.content-top .features-img {
  float: none;
  margin: 0 auto;
}
.acm-features.content-top .features-content {
  float: none;
  margin: 0 auto;
}
.acm-features.style-dark p {
  color: rgba(255, 255, 255, 0.8);
}
.acm-features.style-dark h3 a {
  color: #ffffff;
}
.acm-features.style-dark h3 a:hover,
.acm-features.style-dark h3 a:focus,
.acm-features.style-dark h3 a:active {
  color: #2cd664;
  text-decoration: none;
}
.acm-features.style-1 {
  text-align: center;
}
.acm-features.style-1.full-width .row {
  margin: 0;
}
.acm-features.style-1.full-width .features-item {
  padding: 48px 20px;
}
@media (min-width: 1600px) {
  .acm-features.style-1.full-width .features-item {
    padding: 120px 220px;
  }
}
.acm-features.style-1.full-width .features-image {
  padding: 0;
}
.acm-features.style-1 .features-description {
  margin-right: auto;
  margin-left: auto;
}
.acm-features.style-1 .features-content {
  margin: 0 auto;
  background: none;
  padding: 0;
}
@media (min-width: 768px) {
  .acm-features.style-1 .features-content {
    width: 65%;
  }
  .acm-features.style-1 .features-content.features-content-right,
  .acm-features.style-1 .features-content.features-content-left {
    width: 100%;
  }
}
.acm-features.style-1 .features-content h3 {
  font-size: 36px;
  margin-bottom: 24px;
}
.acm-features.style-1 .features-content.features-content-left {
  text-align: right;
}
.acm-features.style-1 .features-content.features-content-left p {
  padding-left: 0;
}
.acm-features.style-1 .features-content.features-content-left .features-image {
  margin-bottom: 48px;
}
@media screen and (min-width: 992px) {
  .acm-features.style-1 .features-content.features-content-left .features-image {
    margin-bottom: 0;
  }
}
.acm-features.style-1 .features-content.features-content-right {
  text-align: right;
}
.acm-features.style-1 .features-content.features-content-right p {
  padding-right: 0;
}
@media screen and (max-width: 992px) {
  .acm-features.style-1 .features-content.features-content-right p {
    padding: 0;
  }
}
.acm-features.style-1 .features-content.features-content-right .features-image {
  margin-bottom: 48px;
}
@media screen and (min-width: 992px) {
  .acm-features.style-1 .features-content.features-content-right .features-image {
    margin-bottom: 0;
  }
}
.acm-features.style-1 .features-image {
  margin-bottom: 48px;
}
.acm-features.style-1 .features-image > img {
  width: 100%;
}
.acm-features.style-1 .features-item > .btn {
  margin-top: 24px;
}

.acm-features .container {
  padding: 0 !important;
}
.acm-features.style-2 {
  border-top: 1px solid #e0e0e0;
}
.acm-features.style-2.full-width .row {
  margin: 0;
}
.acm-features.style-2.full-width .features-item {
  padding-right: 40px;
  padding-left: 40px;
}
@media (min-width: 1200px) {
  .acm-features.style-2.full-width .features-item {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
.acm-features.style-2 .features-item {
  padding-top: 40px;
  padding-bottom: 40px;
  display: block;
  overflow: hidden;
}
@media (min-width: 1200px) {
  .acm-features.style-2 .features-item {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
.acm-features.style-2 .features-item * {
  position: relative;
  z-index: 1;
}
.acm-features.style-2 .features-item + .features-item {
  border-right: 1px solid #e0e0e0;
}
.acm-features.style-2 .features-item:after {
  content: "";
  display: block;
  position: absolute;
  top: -1px;
  right: -1px;
  left: -1px;
  bottom: -1px;
  z-index: 0;
  background: -webkit-linear-gradient(200deg, #2cd664, #0082d5);
  background: -o-linear-gradient(200deg, #2cd664, #0082d5);
  background: -moz-linear-gradient(200deg, #2cd664, #0082d5);
  background: linear-gradient(200deg, #2cd664, #0082d5);
  backface-visibility: hidden;
  transform-style: preserve-3d;
  -webkit-transition: opacity 550ms ease 0s;
  -o-transition: opacity 550ms ease 0s;
  transition: opacity 550ms ease 0s;
  opacity: 0;
  filter: alpha(opacity=0);
}
.acm-features.style-2 .features-item:hover p {
  color: transparent;
}
.acm-features.style-2 .features-item:hover:after,
.acm-features.style-2 .features-item:hover p:before {
  opacity: 1;
  filter: alpha(opacity=100);
}
.acm-features.style-2 .features-item:hover .font-icon {
  color: #ffffff;
}
.acm-features.style-2 .features-item:hover .font-icon span {
  border-color: #ffffff;
}
.acm-features.style-2 .features-item:hover h3 {
  color: #ffffff;
  border-bottom-color: transparent;
}
.acm-features.style-2 .features-item:hover h3:after {
  width: 100%;
}
.acm-features.style-2 .features-item:hover h3:before {
  width: 0;
}
.acm-features.style-2 .features-item:hover .btn {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  border-color: transparent;
}
.acm-features.style-2 .features-item:hover .btn:hover,
.acm-features.style-2 .features-item:hover .btn:focus,
.acm-features.style-2 .features-item:hover .btn.focus,
.acm-features.style-2 .features-item:hover .btn:active,
.acm-features.style-2 .features-item:hover .btn.active,
.open > .dropdown-toggle.acm-features.style-2 .features-item:hover .btn {
  color: #ffffff;
  background-color: rgba(230, 230, 230, 0.2);
  border-color: rgba(0, 0, 0, 0);
}
.acm-features.style-2 .features-item:hover .btn:active,
.acm-features.style-2 .features-item:hover .btn.active,
.open > .dropdown-toggle.acm-features.style-2 .features-item:hover .btn {
  background-image: none;
}
.acm-features.style-2 .features-item:hover .btn.disabled,
.acm-features.style-2 .features-item:hover .btn[disabled],
fieldset[disabled] .acm-features.style-2 .features-item:hover .btn,
.acm-features.style-2 .features-item:hover .btn.disabled:hover,
.acm-features.style-2 .features-item:hover .btn[disabled]:hover,
fieldset[disabled] .acm-features.style-2 .features-item:hover .btn:hover,
.acm-features.style-2 .features-item:hover .btn.disabled:focus,
.acm-features.style-2 .features-item:hover .btn[disabled]:focus,
fieldset[disabled] .acm-features.style-2 .features-item:hover .btn:focus,
.acm-features.style-2 .features-item:hover .btn.disabled.focus,
.acm-features.style-2 .features-item:hover .btn[disabled].focus,
fieldset[disabled] .acm-features.style-2 .features-item:hover .btn.focus,
.acm-features.style-2 .features-item:hover .btn.disabled:active,
.acm-features.style-2 .features-item:hover .btn[disabled]:active,
fieldset[disabled] .acm-features.style-2 .features-item:hover .btn:active,
.acm-features.style-2 .features-item:hover .btn.disabled.active,
.acm-features.style-2 .features-item:hover .btn[disabled].active,
fieldset[disabled] .acm-features.style-2 .features-item:hover .btn.active {
  background-color: rgba(255, 255, 255, 0.2);
  border-color: transparent;
}
.acm-features.style-2 .features-item:hover .btn .badge {
  color: rgba(255, 255, 255, 0.2);
  background-color: #ffffff;
}
.acm-features.style-2 .features-item:hover .btn:hover {
  background: #ffffff;
  color: #1e9846;
}
.acm-features.style-2 p {
  margin: 0 auto 12px;
  color: #626262;
  position: relative;
  display: block;
}
@media (min-width: 1200px) {
  .acm-features.style-2 p {
    width: 60%;
  }
}
.acm-features.style-2 p:before {
  color: rgba(255, 255, 255, 0.5);
  content: attr(data-letters);
  right: 0;
  overflow: hidden;
  position: absolute;
  width: 100%;
  z-index: 2;
  -webkit-transition: opacity 750ms ease 0s;
  -o-transition: opacity 750ms ease 0s;
  transition: opacity 750ms ease 0s;
  opacity: 0;
  filter: alpha(opacity=0);
}
.acm-features.style-2 .font-icon {
  color: #333333;
  display: block;
  font-size: 50px;
  text-align: center;
  -webkit-transition: color 750ms ease 0s;
  -o-transition: color 750ms ease 0s;
  transition: color 750ms ease 0s;
}
.acm-features.style-2 .font-icon span {
  border: 2px solid #333333;
  border-radius: 50%;
  display: inline-block;
  height: 142px;
  line-height: 142px;
  text-align: center;
  width: 142px;
  -webkit-transition: border-color 750ms ease 0s;
  -o-transition: border-color 750ms ease 0s;
  transition: border-color 750ms ease 0s;
}
.acm-features.style-2 .btn {
  margin-top: 24px;
  -webkit-transition: all 750ms ease 0s;
  -o-transition: all 750ms ease 0s;
  transition: all 750ms ease 0s;
}
.acm-features.style-2 h3 {
  margin: 48px 0 24px;
  padding-bottom: 12px;
  display: inline-block;
  color: #333333;
  -webkit-transition: all 750ms ease 0s;
  -o-transition: all 750ms ease 0s;
  transition: all 750ms ease 0s;
}
.acm-features.style-2 h3:after {
  position: absolute;
  content: "";
  bottom: 0;
  width: 0;
  height: 1px;
  right: 0;
  background: rgba(255, 255, 255, 0.2);
  -webkit-transition: width 750ms ease 0s;
  -o-transition: width 750ms ease 0s;
  transition: width 750ms ease 0s;
}
.acm-features.style-2 h3:before {
  position: absolute;
  content: "";
  bottom: 0;
  width: 100%;
  height: 1px;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: width 750ms ease 0s;
  -o-transition: width 750ms ease 0s;
  transition: width 750ms ease 0s;
}
.ie8 .acm-features.style-2 .features-item:after {
  background: #22ad50;
  display: none;
}
.ie8 .acm-features.style-2 .features-item p {
  color: #626262;
}
.ie8 .acm-features.style-2 .features-item p:before {
  display: none;
}
.ie8 .acm-features.style-2 .features-item:hover:after {
  display: block;
}
.ie8 .acm-features.style-2 .features-item:hover p {
  color: #e0e0e0;
}